body {
  font-family: var(--font-family);
  font-size: var(--font-size-md);

  color: var(--color-text);

  background: var(--color-background);

  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: var(--font-size-2xl);
  font-weight: 700;
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: 700;
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: 600;
}

p {
  color: var(--color-text-muted);
}
